.feature-overlay {
  position: relative;
  width: 100%;
  min-height: 30vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.151);
  display: flex;
  align-items: center;
  transition: all 500ms ease-in;
}

/*_____TEXT CONTAINER_____*/
.feature-box__text-container {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
   z-index: 1;
}

.feature-box__text-container h1 {
   font-family: "Paquito", sans-serif;
  margin-top: 2rem;
  font-size: 5vw;
  line-height: 4.5vw;
  font-weight: bold;
  color: #fff;
}

.highlight-1 {
    color: var(--color-primary);
}

.highlight-2 {
    color: var(--color-3);
}

/*_____IMAGE_____*/
.feature-overlay img {
  width: 110%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.image-one {
 top: -25rem;
} 

.image-two {
 top: -25rem;
}

.feature--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.highlight {
    color: var(--color-primary);
}

@media (max-width: 60em) {
  .feature-overlay img {
    top: -30rem;
  }
}

@media (max-width: 35em) {
      .feature-overlay img {
    width: 140%;
  }
    .feature-box__text-container {
  padding: 0 1rem;

}
    
    .feature-overlay {
    min-height: 60vw;
  }



  .feature-box__text-container h1 {
  font-size: 9vw;

}
}
